
.pokemon-details-wrapper{
    display: flex;
    flex-direction: column;
    justify-self: center;
    background-color: rgb(69, 88, 69);
    margin: 30px;
    padding: 30px;
    box-shadow: 0 0 16px 0px rgba(0, 0, 0, 0.2);
}
 

.pokemon-details-name{
    font-size: xx-large;
    color:black;
}




.pokemon-details-name >span{
    letter-spacing: 1rem;
}
.pokemon-details-types{
    display: flex;
    margin-top: 2rem;
    gap: 3rem;
    font-size: larger;
}
.pokemon-details-types div{
    border: 1px solid gainsboro;
    border-radius:15px;
    padding: 1rem;
    background-color: gainsboro;


}
.pokemon-image{
    max-height: 200px;
    margin-top: 2rem;

}